* {
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
}
body{
    background-color: antiquewhite;
}
.grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 560px auto;
    gap: 120px;
}

h1{
    text-align: center;
    font-size: 6em;    
}

h2 {
    text-align: center;
    font-size: 3em;
}

.span{
    display: grid;
    text-align: center;
    font-size: 5em;
}

.button-container{
    text-align: center;

}
.btn{
    font-size: 3em;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgb(255, 185, 95);
}
footer{
    text-align: center;
    font-size: 1em;
}
